.welcome {
  /* background-color: #F7F7F7; */
  height: 100vh; 
  /* background: url('/src/images/back.jpg'); */
  background-size: cover;
}
.path-back {
  /* background-image:   url('/src/images/vector.png'); */
  /* height: 100vh; */


  background-size: cover;
}
.head-2 {
 margin: 50px auto 50px;
 text-align: center;
 font-weight: 700;
}

.icon-feature {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 100px !important;
  box-shadow: 4px 6px 13px -2px #000;
  -webkit-box-shadow: 4px 6px 13px -2px #000;
  -moz-box-shadow: 4px 6px 13px -2px #000;
}

.cols h6 {
  line-height: 1.5;
}
button {
  padding: 10px 25px !important;
}

.nav-color > *{
  color: #000 !important;
  font-weight: 600;
}

.btn-main {
  background-color: #EB3F3F !important;
  border: none !important;
  font-weight: 600 !important;
  box-shadow: 5px 9px 13px 0px rgba(235,63,63,0.75) !important;
  -webkit-box-shadow: 5px 9px 13px 0px rgba(235,63,63,0.75);
  -moz-box-shadow: 5px 9px 13px 0px rgba(235,63,63,0.75);
  transition:  0.8s !important;
}
.btn-main:hover {
  transform: translate(20px, 0);
}
.icon-map {
  width: 100px;
  margin-bottom: 10px;
  transition:  0.8s;
}
.icon-map:hover {
  transform: translate(0, -20px);
}

.btn-main:focus {
  outline: none;
}
  @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
